<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>p_btn_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,88},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>gold_zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,135},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>p_btn_xiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,256},{58,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,37}</string>
			</dict>
			<key>settle_ebg_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,3},{31,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,34}</string>
			</dict>
			<key>settle_ebg_shun.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,81},{30,33}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,34}</string>
			</dict>
			<key>settle_ebg_tien.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,42},{31,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,34}</string>
			</dict>
			<key>p_settle_win_star02.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,320},{47,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,45}</string>
			</dict>
			<key>chip_black-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,201},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>sp_trumpet.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,88},{41,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,36}</string>
			</dict>
			<key>ebg_bg_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>
			<key>zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,143},{52,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,45}</string>
			</dict>
			<key>title_hands.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,143},{61,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,31}</string>
			</dict>
			<key>title_xianhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,210},{61,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,31}</string>
			</dict>
			<key>title_odds.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,256},{62,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,31}</string>
			</dict>
			<key>icon_28g_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,3},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>icon_28g_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,40},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>icon_28g_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,373},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lostPlist.png</string>
			<key>realTextureFileName</key>
			<string>lostPlist.png</string>
			<key>size</key>
			<string>{158,407}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>407</integer>
		</dict>
	</dict>
</plist>